.advantages {
  outline: 5px solid #adb131;
}

.advantages__item {
  padding: 10px;
}

.advantages__item--blue {
  color: @main-white-color;
  background-color: @main-blue-color;
}

.advantages__item--grey {
  background-color: @main-grey-color;
}
