.intro__header {
  width: 100%;
  min-height: 389px;
  background-color: @main-blue-color;
  background-image: url("../../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @media (min-width: @tablet-width) {
    background-size: cover;
    min-height: 518px;
  }
}

@media (min-width: @tablet-width) {
  .intro__text {
    min-height: 206px;
  }
}

.intro__slogan {
  padding: 0 20px;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  margin-top: 32px;
  margin-bottom: 30px;

  @media (min-width: @tablet-width) {
    br {
      display: none;
    }
    font-size: 21px;
    max-width: 500px;
    margin: 44px auto 30px auto;
  }

  @media (min-width: @desktop-width) {
    margin-top: 55px;
  }
}

.intro__reasons {
  padding: 0 20px;
  font-size: 14px;
  line-height: 26px;
  text-align: center;
  margin-bottom: 34px;
}


@media (min-width: @tablet-width) {
  .intro__wrapper {
    margin: 0 auto;
    display: grid;
  }
}

@media (min-width: @desktop-width) {
  .intro__wrapper {
    margin: 0 auto;
    max-width: 1200px;
  }
}
