.page {
  height: 100%;
}

.page__body {
  min-height: 100%;
  font-family: "PT Sans", "Arial", "Helvetica CY", "Nimbus Sans L", sans-serif;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  margin: 0;
}

.page-header__picture {
  height: 84px;
}

.page-header {
  display: flex;
  flex-direction: column;
}

.page-header__logo {
  margin: 0 auto;
  margin-bottom: -28px;
  order: 2;
  height: 84px;
  width: 101.7px;
  text-align: center;

  @media (min-width: @desktop-width) {
    width: 186.6px;
    height: 96.43px;
  }
}

@media (min-width: @tablet-width) {
  .page-header__logo {
    height: 84px;
    order: 0;
    margin: 0 auto -83px auto;
    z-index: 2;
  }
}

@media (min-width: @desktop-width) {
  .page-header__logo {
    height: 97px;
    order: 0;
    margin: 0 auto -97px auto;
  }
}
