.pictures__header-top {
  width: 100%;
  height: 158px;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-color: @main-blue-color;
  background-position: -240px -230px;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/bg-back-mobile@2x.jpg");
  }
}

.pictures__header-bottom {
  display: flex;
  flex-direction: column;
  align-content: center;
  height: 173px;
  padding: 0 10px;
  text-align: center;
  border-bottom: 2px solid @grey-line-color;
  margin-top: 17px;
}

.pictures__title {
  font-size: 18px;
  line-height: 26px;
}

.pictures__slogan {
  font-size: 14px;
  line-height: 24px;
  margin-top: 13px;
  margin-left: 7px;
  max-width: 289px;

  @media (max-width: @mobile-width-only) {
    br {
      display: none;
    }
  }
}

.pictures__name {
  font-size: 14px;
  line-height: 24px;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-top: 5px;
}

.pictures__text {
  font-size: 14px;
  line-height: 24px;
  padding-bottom: 1px;
}

.pictures__author {
  text-transform: none;
  margin-block-start: 0;
  margin-block-end: 0;
}

.pictures__stats {
  margin-top: 13px;
  margin-left: 37px;
  font-weight: bold;
  position: relative;
}

.pictures__item {
  padding: 20px 20px 15px 20px;
  border-bottom: 1px solid @grey-line-color;
}

.pictures__icon {
  position: absolute;
  opacity: 0.3;
  left: -36px;
  top: -2px;
}

@media (min-width: @tablet-width) {
  .pictures__intro {
    height: 538px;
  }

  .pictures__header-top {
    background-image: url("../img/bg-back-tablet@1x.jpg");
    height: 290px;
    background-size: cover;
    background-position: 0 -250px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/bg-back-tablet@2x.jpg");
    }
  }

  .pictures__header-bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 248px;
    padding: 0 155px;
    border: none;
  }

  .pictures__title {
    font-size: 30px;
    line-height: 26px;
    margin-top: 45px;
  }

  .pictures__slogan {
    margin-top: 8px;
    max-width: 428px;
    margin-left: 0;
  }

  .pictures__wrapper {
    padding: 0 60px;
    margin: 0 auto;
  }

  .pictures__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 480px 347px 347px;
  }

  .pictures__item {
    display: flex;
    flex-direction: column;
    border: none;
    padding: 0;

    &:nth-child(1) {
      background-color: @grey-light-photo;
      grid-column-start: 1;
      grid-column-end: 3;
    }

    &:nth-child(2) {
      background-color: @grey-light-photo;
    }

    &:nth-child(3) {
      background-color: @grey-dark-photo;
    }

    &:nth-child(4) {
      background-color: @grey-light-photo;
    }
  }

  .pictures__text {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 80px;
    padding-left: 20px;
    padding-right: 20px;

    &:not(&--first) {
      padding-right: 30px;
    }
  }

  .pictures__name {
    margin-top: 14px;
    margin-block-end: 1px;
  }

  .pictures__author {
    margin: 0;
  }

  .pictures__stats {
    margin-top: 28px;
  }

  .pictures__like {
    font-weight: bold;
  }

  .pictures__photo {
    width: auto;
    height: 267px;
  }

  .pictures__photo--first {
    height: 400px;
  }

  .pictures__icon {
    left: -31px;
    top: 0;
  }

  .pictures__icon--dark {
    left: -37px;
  }
}

@media (min-width: @desktop-width) {
  .pictures__intro {
    max-width: 1200px;
    margin: 0 auto;
  }

  .pictures__title {
    margin-top: 100px;
  }

  .pictures__slogan {
    max-width: 458px;

    br {
      display: initial;
    }
  }

  .pictures__header-top {
    background-image: url("../img/bg-back-desktop@1x.jpg");
    height: 301px;
    background-position: center -215px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/bg-back-desktop@2x.jpg");
    }
  }

  .pictures__header-bottom {
    margin: 0;
    height: 287px;
  }

  .pictures__wrapper {
    margin: 0 auto;
    max-width: 1200px;
    margin-top: 50px;
    padding: 0;
  }

  .pictures__list {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 400px 267px;
  }

  .pictures__item:nth-child(1) {
    grid-column-start: 1;
    grid-column-end: 4;
  }

  .pictures__photo--first {
    height: 400px;
  }

  .pictures__text {
    position: relative;
    top: -80px;
    margin-bottom: -80px;
    background-color: fade(@main-black-color, 30%);
    color: @main-white-color;
  }

  .pictures__credits {
    margin-top: 2px;
  }
}
